/* 매인 CSS 추가 */

/*  
 *
 *  메인화면 시작
 *
 */

main {
  width: 935px;
  /* background-color: lawngreen; */
  height: 100%;
  padding-top: 127px;
  display: flex;
  flex-direction: row;
}
.feed-wrap {
  display: flex;
  flex-direction: column;
}
